@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary.bg-green:hover {
  background-color: #73c54a !important;
}

body {
  background-color: #fdfdfd;
  overflow-x: hidden;
}

/* Page layout */
.container {
  @apply w-full max-w-[1240px] mx-auto px-5;
}

/* Button styles */
.google-signin-button {
  @apply border border-dark-blue font-semibold px-5 py-2 rounded-sm w-full hover:bg-dark-blue hover:text-white duration-150 ease-in-out;
}

.button-rounded {
  @apply bg-orange text-white font-semibold px-5 py-2 rounded-full hover:bg-orange/90 duration-150 ease-in-out;
}

.button-filled {
  @apply bg-orange text-white font-semibold px-5 py-2 rounded-sm text-sm md:text-base disabled:bg-orange/80 hover:bg-orange/90 duration-150 ease-in-out;
}

.button-outlined {
  @apply border border-orange text-black px-5 py-2 rounded-sm hover:bg-orange hover:text-white duration-150 ease-in-out;
}

.primary-btn {
  @apply bg-blue;
}

/* Section title style */
.section-title {
  @apply text-2xl md:text-4xl text-center font-semibold relative before:absolute before:content-[""] before:left-0 before:right-0 before:h-[4px] before:bottom-[-4px] before:w-[40px] before:bg-orange before:rounded-md before:mx-auto my-8;
}

.active-nav-link {
  @apply before:absolute before:content-[""] before:left-0 before:right-0 before:h-[4px] before:bottom-[-24px] before:w-full before:bg-orange before:rounded-md before:mx-auto;
}
.mobile-active-nav-link {
  @apply before:absolute before:content-[""] before:left-0 before:h-[4px] before:bottom-[-10px] before:w-full before:bg-orange before:rounded-md;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  @apply bg-orange;
}
